body{
	padding:0;
	background:#404040;
}

.navbar-brand{
	padding:7.5px 15px;
}

.navbar-brand img{
	max-height:230%;
	max-width:230%;
	margin-top:-10px;
}

.navbar-fixed-bottom{
	float:left;
	margin:0 auto;
	width:60%;
	background-color:#403E3F;
	color:gray;
}

.navbar{
	min-height:75px;
	margin-bottom:0;
}

.theme-showcase {
	padding:0;
	background:#272526;
	width:61%;
}

#carousel-example-generic{
	margin:20px 0;
}

#navbar{
	margin:12.5px 0 0;
}

.jumbotron{
	background:none;
	color:#FFF;
	padding:10px 60px 0;
	margin-bottom:0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background:none;
	-webkit box shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a:hover{
	-webkit box shadow: inset 0 3px 9px rgba(0,0,0,.25);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

.row{
	color:#FFF;
}

.bottom{
	position: fixed;
    bottom: 0;
    width:60%;
}

footer{
	margin-top:15px;
	background-image:linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

footer>.row>div{
	font-size:x-small;
	color:gray;
}

@media (max-width:767px){
	
	.navbar-brand img{
		max-height:150%;
	}
	.navbar-brand{
		padding:7.5px;
	}
	.navbar{
		min-height:50px;
	}
	#navbar{
		margin:0px;
	}
	.jumbotron{
		padding:5px 10px;
	}
}

