body{
	padding:0;
	background:#404040;
}

.navbar-brand{
	padding:7.5px 15px;
}

.navbar-brand img{
	max-height:230%;
	max-width:230%;
	margin-top:-10px;
}

.navbar-fixed-bottom{
	float:left;
	margin:0 auto;
	width:60%;
	background-color:#403E3F;
	color:gray;
}

.navbar{
	min-height:75px;
	margin-bottom:0;
}

.theme-showcase {
	padding:0;
	background:#272526;
	width:61%;
}

#carousel-example-generic{
	margin:20px 0;
}

#navbar{
	margin:12.5px 0 0;
}

.jumbotron{
	background:none;
	color:#FFF;
	padding:10px 60px 0;
	margin-bottom:0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background:none;
	-webkit box shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a:hover{
	-webkit box shadow: inset 0 3px 9px rgba(0,0,0,.25);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

.row{
	color:#FFF;
}

div.row.featurette{
	margin-right:15px;
}

div.col-md-5.col-md-pull-7 img{
	margin: 2.5% auto;
}

h4.social-heading {
	text-decoration:underline;
}

.social-link{
	text-decoration:none;
	color:#fff;
}

.social-link:hover, .social-link:visited, .social-link:active{
	text-decoration:none;
	color:#bbb;
}

h2.SecondTeamHeader{
	margin-top:0;
}

footer{
	margin-top:15px;
	background-image:linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

.bottom{
	position: fixed;
    bottom: 0;
}

footer>.row>div{
	font-size:x-small;
	color:gray;
}

.stream{
	width: 60.2vw; 
    height: 35vw; /* height:width ratio = 9/16 = .5625  */
    background: pink;
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    /*position:absolute*/
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.jumbotron h1 {
	margin-top:5px;
	font-size:32px;
}

.jumbotron p {
	font-size:14px;
}

.featurette h2{
	font-size:26px;
}

.featurette p, h4 {
	font-size:17px;
}

.featurette p {
	margin-top: 15px;
}

footer{
	padding:5px 15px;
}

footer a{
	text-decoration:none;
	color:#888;
}

.col-md-1{
	width: 5%;
}

.col-md-6{
	width: 48%;
}

.img-responsive{
	max-width:300px;
}

@media (max-width:767px){
	
	.stream{
		width:73vw;
		height:45vw;
	}
	
	.theme-showcase{
		width:75%;
	}
	
	.navbar-brand img{
		max-height:150%;
	}
	.navbar-brand{
		padding:7.5px;
	}
	.navbar{
		min-height:50px;
	}
	#navbar{
		margin:0px;
	}
	.jumbotron{
		padding:5px 10px;
		text-align:center;
	}
	
	.row{
		margin:auto;
		text-align:center;
	}
}

